<div class="ekart--product--container">
    <!-- <img [src]="product.pImage">
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: {{ '$' + getDiscountedPrice().toFixed(0) }}</p>
    <p>{{product.inStock > 0 ? 'Only ' + product.inStock +' items left ': 'Not in Stock'}}</p>
    <button [disabled]="!(product.inStock>0)">Buy Now</button>
    <button (click)="decrementCartValue()">-</button>
    <span>{{ addToCart }}</span>
    <button (click)="incrementCartValue()">+</button>
    <input (input)="onNameChange($event)"><br>
     <p>name={{name}}</p> -->
    <app-search (SearchTextChanged)="setSearchText($event)"></app-search>

    <!-- <div *ngFor="let item of listOfString">
        <p>current item is {{ item }}</p>
    </div> -->

    <app-product-list [searchText]="searchTextParent" #productListComponent></app-product-list>
    <app-product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></app-product-detail>

    <div class="ekart-featured-products">
        <div class="ekart-featured-product-heading">
            <h3>Latest arrival in popular brands</h3>
        </div>

        <app-featured-brands></app-featured-brands>
        <app-featured-brands></app-featured-brands>
        <app-featured-brands></app-featured-brands>
        <!-- <div class="ekart-featured-product-item">
            <h3 class="title">Arrivals in Adidas</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Nesciunt, quasi quae officiis doloribus officia aliquid assumenda qui aut nemo, 
                 doloremque, recusandae nisi eos hic ipsum cupiditate placeat ut incidunt. Architecto.</p>
            <button class="call-to-action">Learn More</button>
        </div>
        <div class="ekart-featured-product-item">
            <h3 class="title">Arrivals in Rebook</h3>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Nesciunt, quasi quae officiis doloribus officia aliquid assumenda qui aut nemo, 
                 doloremque, recusandae nisi eos hic ipsum cupiditate placeat ut incidunt. Architecto.</p>
            <button class="call-to-action">Learn More</button>
        </div> -->
    </div>
</div>


<!-- STRING INTERPOLATION DOESN'T WORK FOR THESE. WE HAVE TO USE PROPERTY BINDING -->
<!--Disabled, Hidden, Checked--> 